.item-box{
	background-color: #FFE4B5;
	width: 225px;
	height: 35px;
	padding-left: 80px; 
	position: relative; 
	left:610px;
	border-radius: 4px
}

#Mainbox{
	position: absolute;
	top: 50px;
	left: 620px ;
	width: 300px;
	height: 35px;
	border-radius: 7px;
	font-size: 20px;
	padding-left: 5px;
}

.it{
	background-color: pink;
	 
	position: relative; 
	width: 225px;
	height: 35px;
	padding-left: 80px; 
	left:610px;
	border-radius: 4px
}

.donelist{
	text-decoration: line-through;
	opacity: 0.7;
	font-size: 20px;
	position: relative;
	left: 40px;
	top: 5px;

}
#box{
	position: absolute;
	left: 30px;
	top: 5px;
	 width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

#box:checked{
	background-color: 	pink;
}
#box:hover{
	background-color: 	pink;
}


#tbox{
	background-color: #FFE4B5;
	position: absolute;
	height:30px;
	border-style: none;
	font-size: 18px;
}

input[type=checkbox]:checked + label > #tbox {
	
	text-decoration: line-through;
	opacity: 0.6;

}

.clrComplete{
	position: absolute;
	left: 46%;
}